.card-products-img {
    max-height   : 207px;
    max-width    : 100%;
    border-radius: 18px;
}

.icons-options {
    width          : 40px;
    height         : 40px;
    display        : flex;
    background     : #fffefe;
    border-radius  : 48px;
    margin         : 3px;
    cursor         : pointer;
    align-items    : center;
    justify-content: center;
}

.tips {
    max-width     : 1350px;
    width         : 100%;
    margin-right  : auto;
    margin-left   : auto;
    padding-right : 7.5px;
    padding-left  : 7.5px;
    padding-top   : 3%;
    padding-bottom: 3%;
}

@media (min-width: 1200px) {
    .ribbon-wrapper {
        left: 5px;
    }
}


@media screen and (max-width: 400px) {
    .img-promociones {
        display: none;
    }

    .img-promociones-responsive {
        display: block;
    }

    .card-products-card-black {
        right: 19px;
    }

    .card-products-discount {
        right    : 19px;
        font-size: 12px;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .ribbon-wrapper {
        left: 47px;
    }
}

.btn-reset {
    background: white;
    border    : 0px;
    cursor    : default;
}

.title-product {
    min-height   : 50px;
    font-size    : 16px;
    color        : #002a53;
    font-weight  : 600;
    margin-bottom: 0px;
}

.price-product {
    font-size  : 19px;
    color      : #002a53;
    font-weight: bold;
}

.btn-reset:focus {
    outline: none;
}

.icons-options:hover {
    background: #dc4a80;
}

.icons-options:hover i {
    color: #fffefe;
}

.card-products-title {
    font-size: 17px;
    color    : #0d70ac;
}

.card-products-text {
    font-size   : 16px;
    color       : #0d70ac;
    line-height : 18px;
    margin-right: 10%;
}

.card-products-old-price {
    font-size  : 18px;
    color      : #0d70ac;
    line-height: 18px;
    font-weight: bold;
}

.card-products-new-price {
    font-size   : 24px;
    color       : #d20509;
    line-height : 18px;
    font-weight : bold;
    margin-right: 4%;
}

.card-products-price {
    font-size    : 23px;
    color        : #d20509;
    margin-bottom: 0px;
    line-height  : 20px;
    font-weight  : bold;
}

.card-products-discount {
    background   : red;
    color        : white;
    font-weight  : bold;
    border-radius: 37px;
    position     : absolute;
    width        : 44px;
    top          : 12%;
    right        : 45px;
    font-size    : 14px;
}

.card-products-discount p:first-child {
    margin-bottom: 0px;
    margin-top   : 3px;
}

.card-products-discount p:last-child {
    line-height  : 10px;
    margin-bottom: 11px;
}

.card-products-card-black {
    position: absolute;
    width   : 44px;
    top     : 41%;
    right   : 45px;
}

.card-products-label {
    font-size  : 13px;
    color      : #0d70ac;
    font-weight: 500;
}

.card-products-button {
    border-radius: 20px !important;
    font-weight  : bold !important;
    padding-left : 21px !important;
    padding-right: 21px !important;
}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

p {
    font-family: 'Poppins', sans-serif;
    font-size  : 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color      : #999;
}

a,
a:hover,
a:focus {
    color          : inherit;
    text-decoration: none;
    transition     : all 0.3s;
}



.line {
    width        : 100%;
    height       : 1px;
    border-bottom: 1px dashed #ddd;
    margin       : 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */

#sidebar {
    width     : 250px;
    position  : fixed;
    top       : 0;
    left      : -250px;
    height    : 100vh;
    z-index   : 999;
    background: #ffffff;
    color     : #fff;
    transition: all 0.3s;
    overflow-y: scroll !important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width             : 35px;
    height            : 35px;
    line-height       : 35px;
    text-align        : center;
    background        : #ffffff;
    position          : absolute;
    top               : 10px;
    right             : 10px;
    cursor            : pointer;
    -webkit-transition: all 0.3s;
    -o-transition     : all 0.3s;
    transition        : all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color     : #ffffff;
}

.overlay {
    display   : none;
    position  : fixed;
    width     : 100vw;
    height    : 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index   : 998;
    opacity   : 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding   : 20px;
    background: #ffffff;
}

#sidebar ul.components {
    padding      : 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color  : #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding  : 10px;
    font-size: 1.1em;
    display  : block;
}

#sidebar ul li a:hover {
    color     : #ffffff;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color     : #fff;
    background: #ffffff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display  : block;
    position : absolute;
    top      : 50%;
    right    : 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size   : 0.9em !important;
    padding-left: 30px !important;
    background  : #ffffff;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align   : center;
    font-size    : 0.9em !important;
    display      : block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color     : #ffffff;
}

a.article,
a.article:hover {
    background: #ffffff !important;
    color     : #fff !important;
}

#mCSB_1_container {
    position: initial !important;
    top     : 0px;
    left    : 0px;
}

#sidebarCollapse {
    display: none;
}

.sidebar-responsive {
    display: block;
}

@media (max-width: 990px) {
    #sidebarCollapse {
        display: block;
    }

    .sidebar-responsive {
        display: none;
    }

    .social {
        z-index: 11;
    }

    .card-reset {
        background: #f187ad17;
    }

    #sidebar {
        color: #585857;
    }
}

ul {
    list-style  : none;
    padding-left: 14px;

}

input[type=checkbox] {
    color           : #fff;
    border-color    : #5e72e4;
    background-color: #2743e2;
    box-shadow      : 0 3px 2px rgba(233, 236, 239, .05);
}

/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
.accordion {
    position: relative;
}

.accordion .accordionBtn:before,
.accordion .accordionBtn.collapsed:before {
    content    : "\f067";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width      : 25px;
    height     : 25px;
    line-height: 28px;
    font-size  : 14px;
    color      : #be3d6b;
    text-align : center;
    position   : absolute;
    right      : 15px;
    transform  : rotate(135deg);
    transition : all 0.3s ease 0s;
}

.accordion .accordionBtn.collapsed:before {
    color    : #a0a0a0;
    transform: rotate(0);
}


@media screen and (min-width: 990px) and (max-width: 1175px) {
    .card-products-img {
        max-height: 230px;
    }

    .height-container-img-product {
        min-height: 230px;
    }

    .card-products {
        min-width: 328px !important;
    }

    .card-products-title {
        font-size: 17px;
    }

    .card-products-new-price {
        font-size: 22px;
    }

    .card-products-discount {
        width    : 44px;
        top      : 12%;
        right    : 30px;
        font-size: 14px;
    }

    .card-products-card-black {
        width: 40px;
        right: 28px;
    }
}

@media screen and (max-width: 600px) {
    .card-products-button-see-more {
        font-size: 13px !important;
    }

    .card-products-button-apply {
        font-size: 13px !important;
    }
}

@media screen and (max-width: 550px) {
    .card-container-products-logo {
        height: 42px;
    }

    .card-products-img {
        max-height: 200px;
    }

    .card-products-title {
        font-size: 15px;
    }

    .card-products-text {
        font-size: 14px;
    }

    .card-products-card-black {
        width: 38px;
    }

    .card-products-price {
        font-size: 21px;
    }

    .card-products-label {
        font-size: 11px;
    }

    @media screen and (max-width: 400px) {

        .card-products-card-black {
            right: 19px;
        }

        .card-products-discount {
            right    : 19px;
            font-size: 12px;
        }
    }
}

.scroll-options {
    max-height: 150px;
    overflow-y: scroll;
}



/* sidebar */