@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);
@font-face {
    font-family: "Pluto Cond";
    src: url(PlutoCondRegular.woff2) format("woff2"),
        url(PlutoCondRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
.search {
    border-radius: 40px;
    background: #2f3640;
}
.content-title-banner-products h4 {
    font-family: "Pluto Cond", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
        sans-serif;
    color: #05325f;
    font-weight: bolder;
}
.content-title-banner-products h2 {
    font-family: "Pluto Cond", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
        sans-serif;
    color: #05325f;
    font-weight: bolder;
}
.title-products {
    font-size: 19px;
}
.btn-danger-reset {
    font-size: 15px;
    position: absolute;
    top: 35px;
    right: 30px;
    background: #ba3d6b;
    border-color: #ba3d6b;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
}
.btn-danger-reset:hover {
    color: #fff;
    background-color: #a53b62 !important;
    border-color: #a53b62 !important;
}
.alert-success {
    color: #fff;
    border-color: #4fd69c;
    background-color: #4fd69c;
}
.img-card-product {
    border-radius: 15px;
    max-height: 210px;
    max-width: 100%;
}
.slider {
    color: #bf3d6b;
}
.price-old {
    font-size: 18px;
    margin-bottom: 0;
    color: #002a53;
}
.price-new {
    font-size: 30px;
    line-height: 18px;
    color: #002a53;
}
.ribbon-text {
    color: #fff;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
}
.cart-icon {
    width: 38px;
    margin: 0 12px;
}
.account {
    color: #dc467b !important;
    font-size: 14px;
}
@media only screen and (min-width: 1300px) {
    .slider {
        margin-top: 15px;
        font-size: 50px;
    }
}
@media (min-width: 980px) and (max-width: 1299px) {
    .slider {
        margin-top: 15px;
        font-size: 50px;
    }
}
@media (min-width: 681px) and (max-width: 970px) {
    .logo {
        width: 100px;
    }
    .container-logo {
        position: absolute;
        top: -6px;
        right: 42%;
    }
}
@media (min-width: 590px) and (max-width: 680px) {
    .logo {
        width: 108px;
    }
    .container-logo {
        position: absolute;
        top: -45px;
        right: 75%;
    }
}
@media (min-width: 575px) and (max-width: 591px) {
    .logo {
        width: 108px;
    }
    .container-logo {
        position: absolute;
        top: -45px;
        right: 70%;
    }
}
@media (min-width: 320px) and (max-width: 574px) {
    .logo {
        width: 108px;
    }
    .container-logo {
        position: absolute;
        top: -45px;
        right: 70%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn-danger-reset {
        top: 20px;
        right: 24px;
        font-size: 12px;
    }
}
@media only screen and (min-width: 811px) and (max-width: 979px) {
    .img-card-product {
        max-height: 170px;
    }
    .slider {
        margin-top: 15px;
        font-size: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 810px) {
    .img-card-product {
        max-height: 170px;
    }
    .slider {
        margin-top: 15px;
        font-size: 50px;
    }
}
@media only screen and (min-width: 560px) and (max-width: 767px) {
    .img-card-product {
        max-height: 170px;
    }
    .slider {
        margin-top: 15px;
        font-size: 50px;
    }
}
@media only screen and (min-width: 420px) and (max-width: 560px) {
    .img-card-product {
        max-height: 170px;
    }
    .slider {
        margin-top: 15px;
        font-size: 50px;
    }
}
@media only screen and (max-width: 440px) {
    .btn-danger-reset {
        font-size: 13px;
        position: absolute;
        top: 26px;
        right: 26px;
    }
}
@media only screen and (min-width: 315px) and (max-width: 420px) {
    .img-card-product {
        max-height: 170px;
    }
}

.ribbon-wrapper.ribbon-lg {
    height: 50px;
    width: 76px;
}
.ribbon-wrapper {
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 29px;
    top: -2px;
    width: 70px;
    z-index: 10;
}
.ribbon-wrapper.ribbon-lg .ribbon {
    left: 5px;
    top: 8px;
    width: 50px;
}
.circle-wishlist {
    top: -8px;
    right: -10px;
    border-radius: 50%;
    background-color: #e03553;
    width: 25px;
    height: 25px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
    animation-delay: 0s;
}
.ribbon-wrapper .ribbon {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    line-height: 100%;
    padding: 0.375rem 0;
    position: relative;
    left: -2px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    top: 10px;
    width: 90px;
}
.link-modal-ped {
    color: #4f98b9;
    text-decoration: none;
    padding: 5px 10px;
}
.link-modal-ped:hover {
    background-color: #4f98b9;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
}
.badge-count-wishlist {
    position: absolute;
    top: -5px;
    right: -6px;
    z-index: 999;
}
@media (max-width: 400px) {
    .card-products-discount {
        right: 19px !important;
    }
}
.sizes span {
    min-width: 40px;
    height: 37px;
    display: flex;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    padding: 0 6px;
    border-radius: 10px;
}
.button-rounded {
    border-radius: 20px !important;
}
.sizes span:hover {
    min-width: 40px;
    height: 37px;
    display: flex;
    border: 1px solid #ba3d6b;
    cursor: pointer;
    padding: 0 6px;
    border-radius: 10px;
}
.sizes span p {
    color: #000;
}
.sizes {
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
}
.shadow-reset {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
    border-radius: 14px;
}
.container-sizes {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}
.sizes:hover {
    background: #ba3d6b;
    color: #fff;
    border-color: #ba3d6b;
}
.sizes:hover span p {
    color: #fff;
}
.sizes.active span p {
    color: #fff;
}
.sizes.active {
    background: #ba3d6b;
    color: #fff;
}
.alert {
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}
.alert-danger {
    color: #fff;
    border-color: #f75676;
    background-color: #f75676;
}
.alert-warning {
    color: #fff;
    border-color: #fc7c5f;
    background-color: #fc7c5f;
}
.alert-info {
    color: #fff;
    border-color: #37d5f2;
    background-color: #37d5f2;
}
.bg-blue-page {
    background: #4f98b9;
}
.logo-send {
    width: 23px;
    margin: 0 6px;
}
.content-headers {
    max-width: 480px;
}
.breadcrumb-reset {
    display: flex;
    list-style: none;
    padding: 15px;
}
.breadcrumb-reset li {
    margin-right: 4px;
    color: #a19e9e;
}
.breadcrumb-reset .active {
    color: #898686;
    font-weight: 400;
}
.breadcrumb-reset li a {
    margin-right: 4px;
    color: #a19e9e;
}
.content-empty {
    min-height: calc(100vh - 388px);
}
.button-reset {
    background-color: #ba3d6b;
    color: #fff;
    border-color: #ba3d6b;
    font-weight: 500;
}
.button-reset:hover {
    color: #fff;
    opacity: 0.7;
}
.container-reset {
    max-width: 1800px;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.btn-search {
    border-radius: 50%;
    background: #2f3640;
    color: #2471a3;
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px;
}
.text {
    border: none;
    background: 0 0;
    outline: 0;
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    width: 200px;
    padding: 0 20px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.container-logo {
    position: absolute;
    top: -53px;
}
.logo {
    width: 155px;
}
.content-link {
    width: 71%;
}
::placeholder {
    padding-left: 2px;
    color: #ddd;
}
.footer-style {
    background-color: #002e54;
}
.container-footer {
    max-width: 1380px;
}
.logo-footer {
    max-height: 175px;
    max-width: 100%;
}
.footer-style ol li {
    list-style: none;
    font-weight: 300;
    font-size: 17px;
    margin-top: 5px;
}
.footer-style ol li b {
    font-weight: 700;
}
.li-width {
    max-width: 250px;
    line-height: 26px;
}
.icon-footer {
    max-height: 52px;
}
.navbar-expand-lg .navbar-nav {
    font-weight: 500;
}
.social-icon-header {
    top: -5px;
    right: 2%;
}
.social-icon-header img {
    max-height: 36px;
}
.social {
    display: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 0;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff !important;
    background: #fff !important;
}
.text-sm {
    font-size: 0.875rem !important;
}
.subtotal {
    font-weight: 600;
    font-size: 17px !important;
}
.price {
    margin: auto 0;
    font-size: 15px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu-lg {
    max-width: 400px;
    min-width: 360px;
    padding: 0;
}
.dropdown-menu-lg .dropdown-item {
    padding: 0.5rem 1rem;
}
.dropdown-menu-lg .dropdown-divider {
    margin: 0;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.img-size-50 {
    width: 60px;
}
.img-circle {
    margin: auto;
    border-radius: 20%;
}
.card-products-discount {
    background: red;
    border-radius: 37px;
    position: absolute;
    width: 44px;
    top: 12%;
    right: 45px;
}
.card-products-discount p {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.card-products-discount p:first-child {
    margin-bottom: 0;
    margin-top: 3px;
}
.card-products-discount p:last-child {
    line-height: 10px;
    margin-bottom: 11px;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.dropdown-item-title {
    font-size: 1rem;
    margin: 0;
    white-space: normal;
    margin-bottom: 5px;
}
.dropdown-menu-lg p {
    margin: 0;
    white-space: normal;
}
.dropdown-menu-lg p {
    margin: 0;
    white-space: normal;
}
.fa-clock:before {
    content: "\f017";
}
.item {
    z-index: 100;
    padding: 5px;
}
.item-wishlist {
    z-index: 100;
}
.item img {
    width: 150px;
}
.banner-product-rounded {
    border-radius: 15px;
}
.modal-rounded {
    border-radius: 20px;
    opacity: 0.9;
}
.link-register {
    text-decoration: none !important;
    color: #4f98b9 !important;
}
.link-register:hover {
    text-decoration: none !important;
    color: #e03553 !important;
}
.title-card-profile {
    color: #ba3d6b;
}
.title-detail-profile {
    color: #ba3d6b;
}
.card-border-none {
    border: none;
}
.circle {
    top: -7px;
    right: -1px;
    border-radius: 50%;
    background-color: #e03553;
    width: 25px;
    height: 25px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #4f98b9;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.item-tab-menu {
    padding: 7px 15px;
    background-color: #fff;
    color: #b93d6b;
    font-size: 15px;
    font-weight: 500;
}
.btn-confirm {
    background-color: #b93d6b;
    color: #fff;
}
.btn-confirm:hover {
    background-color: #4f98b9;
    color: #fff;
}
.modal-top {
    padding-top: 20px;
}
.profile-rounded {
    border-radius: 50%;
    border: none;
    width: 150px;
}
.title-modal {
    color: #b93d6b;
}
.badge-count {
    position: absolute;
    top: -4px;
    right: 4px;
    z-index: 999;
}
.label-modal {
    font-size: 13px;
    background-color: #fff;
    position: absolute;
    margin: -11px 0 0 10px;
    color: gray;
    font-weight: 500;
}
.position-cart {
    max-width: 65px;
    margin: auto;
}
.container-quanty {
    height: 40px;
    max-width: 100px;
}
.container-quanty .minus-btn {
    border: 1px solid #d4d2d2;
    border-right: 0;
    border-radius: 10px 0 0 10px;
}
.container-quanty .minus-btn i {
    font-size: 12px;
}
.container-quanty input {
    border-left: 0;
    border-right: 0;
    height: 40px;
}
.plus-btn {
    border: 1px solid #d4d2d2;
    border-left: 0;
    border-radius: 0 10px 10px 0 !important;
}
.plus-btn i {
    font-size: 12px;
}
@keyframes scaleIn {
    from {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }
    to {
        transform: scale(1.8, 1.8);
        opacity: 0;
    }
}
@media only screen and (min-width: 1220px) and (max-width: 1280px) {
    .ribbon-wrapper {
        left: 29px;
        top: -2px;
    }
}
@media only screen and (min-width: 1150px) and (max-width: 1219px) {
    .ribbon-wrapper {
        left: 20px;
        top: -2px;
    }
}
@media only screen and (min-width: 980px) and (max-width: 1150px) {
    .ribbon-wrapper {
        left: 8px;
        top: -2px;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    .logo-footer {
        max-height: 115px;
        max-width: 100%;
    }
    .footer-style ol li {
        font-size: 16px;
    }
    .contact-footer {
        font-size: 24px !important;
    }
    .icon-footer {
        max-height: 45px;
    }
    .text {
        border: none;
        background: 0 0;
        outline: 0;
        float: left;
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        width: 142px;
        padding: 0 20px;
    }
    .content-empty {
        min-height: calc(100vh - 373px);
    }
}
@media (min-width: 1050px) and (max-width: 1100px) {
    .logo {
        width: 130px;
    }
}
@media (min-width: 990px) and (max-width: 1050px) {
    .logo {
        width: 100px;
    }
}
@media (max-width: 990px) {
    .logo {
        width: 95px;
    }
    .social-icon-header {
        top: -1px;
        right: 2%;
    }
    .social-icon-header img {
        max-height: 30px;
    }
}
@media only screen and (min-width: 811px) and (max-width: 979px) {
    .content-link {
        width: 100%;
        text-align: center;
    }
    .content-headers {
        max-width: initial;
    }
    .search {
        margin: 0 auto;
    }
}
@media only screen and (min-width: 767px) and (max-width: 979px) {
    .ribbon-wrapper {
        left: 1px;
        top: -2px;
    }
    .container-logo {
        position: absolute;
        top: -4px;
        right: 43%;
    }
}
@media only screen and (min-width: 577px) and (max-width: 680px) {
    .ribbon-wrapper {
        left: 1px;
        top: -2px;
    }
    .container-logo {
        position: absolute;
        top: -2px;
        right: 40%;
    }
}
@media only screen and (min-width: 310px) and (max-width: 355px) {
    .ribbon-wrapper {
        left: 9px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 810px) {
    .content-link {
        width: 100%;
        text-align: center;
    }
    .content-headers {
        max-width: initial;
    }
    .search {
        margin: 0 auto;
    }
}
@media only screen and (min-width: 680px) and (max-width: 767px) {
    .container-logo {
        top: -3px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .content-link {
        width: 100%;
        text-align: center;
    }
    .content-headers {
        max-width: initial;
    }
    .search {
        margin: 0 auto;
    }
    .logo-footer {
        max-height: 130px;
        margin-bottom: 2%;
        max-width: 100%;
    }
    .footer-style ol li {
        font-size: 16px;
    }
    .contact-footer {
        font-size: 20px;
        margin-top: 8px;
    }
    .icon-footer {
        max-height: 40px;
    }
}
@media only screen and (min-width: 420px) and (max-width: 575px) {
    .container-logo {
        position: absolute;
        top: -8px;
        left: 18%;
    }
    .content-link {
        width: 100%;
        text-align: center;
    }
    .content-headers {
        max-width: initial;
    }
    .search {
        margin: 0 auto;
    }
    .logo {
        width: 88px;
    }
    .logo-footer {
        max-height: 100px;
        margin-bottom: 5%;
        max-width: 100%;
    }
    .footer-responsive {
        width: 205px;
        margin-left: 46px;
    }
    .footer-style ol li {
        font-size: 14px;
    }
    .contact-footer {
        font-size: 18px;
        margin-top: 8px;
    }
    .icon-footer {
        max-height: 40px;
    }
    .col-products {
        position: relative;
        width: 100%;
        max-width: 50%;
        padding: 0;
    }
    .title-products {
        font-size: 13px;
    }
    .price-old {
        font-size: 17px;
        margin-bottom: 0;
    }
    .price-new {
        font-size: 23px;
    }
    .ribbon-wrapper.ribbon-lg .ribbon {
        left: 0 !important;
        top: 4px !important;
        width: 50px !important;
    }
    .ribbon-text {
        color: #fff;
        margin-bottom: 0;
        font-size: 13px;
        font-weight: 700;
    }
    .shadow-reset {
        box-shadow: 0 0.5rem 1rem transparent !important;
    }
    .icons-options {
        width: 35px !important;
        height: 35px !important;
    }
}
@media only screen and (min-width: 315px) and (max-width: 420px) {
    .logo {
        width: 78px;
    }
    .content-link {
        width: 100%;
        text-align: center;
    }
    .content-headers {
        max-width: initial;
    }
    .search {
        margin: 0 auto;
    }
    .container-logo {
        position: absolute;
        top: -5px;
        right: 42%;
    }
    .logo-footer {
        max-height: 100px;
        margin-bottom: 5%;
        max-width: 100%;
    }
    .footer-responsive {
        width: 170px;
    }
    .col-products {
        position: relative;
        width: 100%;
        max-width: 50%;
        padding: 0;
    }
    .title-products {
        font-size: 13px;
    }
    .price-old {
        font-size: 17px;
        margin-bottom: 0;
    }
    .price-new {
        font-size: 23px;
    }
    .ribbon-wrapper.ribbon-lg .ribbon {
        left: 0 !important;
        top: 4px !important;
        width: 40px !important;
    }
    .ribbon-text {
        color: #fff;
        margin-bottom: 0;
        font-size: 11px;
        font-weight: 700;
    }
    .shadow-reset {
        box-shadow: 0 0.5rem 1rem transparent !important;
    }
    .icons-options {
        width: 35px !important;
        height: 35px !important;
    }
    .footer-style ol li {
        font-size: 14px;
    }
    .contact-footer {
        font-size: 18px;
        margin-top: 8px;
    }
    .icon-footer {
        max-height: 40px;
    }
    .dropdown-menu-lg {
        max-width: 381px;
        min-width: 300px;
        padding: 0;
        left: inherit;
        right: -4px;
    }
    .hidden-text-header {
        display: none;
    }

    .account {
        font-size: 20px !important;
    }
}
@media (max-width: 575px) {
    .text {
        line-height: 30px;
    }
    .search {
        height: 30px;
    }
    .btn-search {
        width: 30px;
        height: 30px;
    }
    .social-icon-header {
        display: none;
    }
    .social {
        display: block;
        position: fixed;
        left: 0;
        top: 200px;
        z-index: 2000;
    }
    .social ul {
        list-style: none;
        text-align: center;
        padding-left: 0;
    }
    .social ul li a {
        display: inline-block;
        color: #fff;
        background: #000;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        width: 42px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social ul li .icon-facebook {
        background: #3b5998;
    }
    .social ul li .icon-instagram {
        background: #00abf0;
    }
    .social ul li .icon-youtube {
        background: #ae181f;
    }
    .social ul li .icon-mail {
        background: #666;
    }
    .social ul li a:hover {
        background: #000;
        opacity: 0.5;
    }
    .cart-icon {
        width: 38px;
        margin: 0 2px;
    }
    .account {
        color: #dc467b;
        font-size: 13px;
    }
    .ribbon-wrapper {
        height: 70px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        z-index: 10;
    }
}
textarea {
    outline: beige !important;
}
.container-price-slider {
    min-height: 68px;
}
.name-card-slider {
    color: #000;
    font-size: 18px;
    text-align: center;
    min-height: 54px;
}
.price-old-card-slider {
    color: gray;
    font-size: 16px;
    margin-bottom: 0;
}
.price-new-card-slider {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.price-product {
    font-size: 35px;
    font-weight: 700;
}
.container-product-price {
    position: relative;
    margin-top: 15px;
}
.btn-add-card {
    font-size: 12px !important;
    padding: 4px 14px !important;
    border-radius: 15px !important;
    background: #ba3d6b !important;
    border-color: #ba3d6b !important;
}
.title-products {
    font-size: 19px;
}
.nav-wrapper {
    padding: 1rem 0 !important;
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}
.nav-pills .nav-link {
    border-radius: 0.375rem !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #ba3d6b !important;
}
.nav-pills .nav-item:not(:last-child) {
    padding-right: 1rem !important;
}
.shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}
.nav-pills .nav-link {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    padding: 0.75rem 1rem !important;
    transition: all 0.15s ease !important;
    color: #ba3d6b !important;
    background-color: #fff !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}
.nav-pills .nav-link:hover {
    color: #d66c92 !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ba3d6b;
}
@media (max-width: 575.98px) {
    .nav-pills .nav-item {
        margin-bottom: 1rem;
    }
}
@media (max-width: 767.98px) {
    .nav-pills:not(.nav-pills-circle) .nav-item {
        padding-right: 0;
    }
}
.nav-pills-circle .nav-link {
    line-height: 60px;
    width: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}
.nav-pills-circle .nav-link-icon i,
.nav-pills-circle .nav-link-icon svg {
    font-size: 1rem;
}
.nav-fill .nav-item {
    text-align: center;
    flex: 1 1 auto;
}
.flex-column {
    flex-direction: column !important;
}
.flex-column-reverse {
    flex-direction: column-reverse !important;
}
@media (min-width: 768px) {
    .flex-md-row {
        flex-direction: row !important;
    }
}
.nav-pills .nav-item:not(:last-child) {
    padding-right: 1rem;
}
.table {
    border-collapse: collapse !important;
}
.table td,
.table th {
    background-color: #fff !important;
}
.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6 !important;
}
.table-dark {
    color: inherit;
}
.table-dark tbody + tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #e9ecef;
}
.table .thead-dark th {
    color: inherit;
    border-color: #e9ecef;
}
.head-tab {
    color: #ba3d6b;
    font-weight: 600;
}
.modal-cont {
    padding-right: 0;
    padding-top: 10%;
}
.nav-wrapper {
    padding: 1rem 0 !important;
    border-top-left-radius: 0.375rem !important;
    border-top-right-radius: 0.375rem !important;
}
.nav-pills .nav-link {
    border-radius: 0.375rem !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #ba3d6b !important;
}
.nav-pills .nav-item:not(:last-child) {
    padding-right: 1rem !important;
}
.shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}
.nav-pills .nav-link {
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    padding: 0.75rem 1rem !important;
    transition: all 0.15s ease !important;
    color: #ba3d6b !important;
    background-color: #fff !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}
.nav-pills .nav-link:hover {
    color: #d66c92 !important;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ba3d6b;
}
@media (max-width: 575.98px) {
    .nav-pills .nav-item {
        margin-bottom: 1rem;
    }
}
@media (max-width: 767.98px) {
    .nav-pills:not(.nav-pills-circle) .nav-item {
        padding-right: 0;
    }
}
.nav-pills-circle .nav-link {
    line-height: 60px;
    width: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
}
.nav-pills-circle .nav-link-icon i,
.nav-pills-circle .nav-link-icon svg {
    font-size: 1rem;
}
.nav-fill .nav-item {
    text-align: center;
    flex: 1 1 auto;
}
.flex-column {
    flex-direction: column !important;
}
.flex-column-reverse {
    flex-direction: column-reverse !important;
}
@media (min-width: 768px) {
    .flex-md-row {
        flex-direction: row !important;
    }
}
.nav-pills .nav-item:not(:last-child) {
    padding-right: 1rem;
}
.table {
    border-collapse: collapse !important;
}
.table td,
.table th {
    background-color: #fff !important;
}
.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6 !important;
}
.table-dark {
    color: inherit;
}
.table-dark tbody + tbody,
.table-dark td,
.table-dark th,
.table-dark thead th {
    border-color: #e9ecef;
}
.table .thead-dark th {
    color: inherit;
    border-color: #e9ecef;
}
.head-tab {
    color: #ba3d6b;
    font-weight: 600;
}
.modal-cont {
    padding-right: 0;
    padding-top: 10%;
}
